.gameItem {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--accent-text-color);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.link {
  text-decoration: none;
  color: var(--accent-text-color);
}

.gameItem:hover {
    transform: scale(1.1);
    box-shadow: -1px 1px 20px 4px var(--accent-boxshadow-color);
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  gap: 10px;
  min-height: 250px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin: 0;
  font-family: var(--font-family-title);
}

.description {
  margin: 0;
  font-family: var(--font-family-text);
  font-size: 22px;
}

.article {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s ease;
}

.article:hover .background {
  filter: brightness(0.3);
}

.infoContainer {
  position: relative;
  z-index: 2;
}

