.mainPage {
  padding-left: 20px;
}

.sectionAbout {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 20px 20px;
  border: 1px solid var(--accent-text-color);
  gap: 15px;
  border-radius: 0px 20px 0px 13px / 10px 20px 0px 13px;
}

.sectionTextContainer {
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  gap: 50px;
}

.sectionAboutTitle {
  font-size: 60px;
  font-family: var(--font-family-title);
  font-weight: 700;
  margin: 0;
}

.sectionAboutText {
  font-size: 30px;
  font-family: var(--font-family-text);
  margin: 0;
  width: 60%;
}

.sectionAboutLink {
  font-size: 30px;
  text-align: center;
  padding: 20px 20px;
  color: var(--accent-text-color);
  text-transform: uppercase;
  font-family: var(--font-family-text);
  text-decoration: none;
  border: 1px solid var(--accent-text-color);
  border-radius: 8px;
  margin: 0;
  align-self: end;
  transition: background-color 0.5s linear, font-weight 0.5s linear;
}

.sectionAboutLink:hover {
  background-color: var(--accent-boxshadow-color);
  font-weight: 700;
}

@media (max-width: 680px) {
  .sectionAbout {
    flex-direction: column;
  }

  .sectionAbout {
    padding: 10px;
  }

  .sectionTextContainer {
    width: 100%;
  }

  .mainPage {
    padding: 0;
  }

  .sectionAboutTitle {
    font-size: 45px;
    width: 100%;
  }

  .sectionAboutText {
    width: 100%;
  }

  .sectionAboutLink {
    align-self: flex-start;
  }
}
