.gameItem {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  transition: box-shadow 0.5s ease;
}

.gameItem:hover {
  box-shadow: -1px 1px 16px 3px var(--accent-boxshadow-color);
}

.gameArticle {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.gameImage {
  width: 100%;
  height: auto;
  border-bottom: 2px solid var(--accent-text-color);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 25px;
  gap: 10px;
}

.title {
  margin: 0;
  font-family: var(--font-family-title);
}

.gameItem p {
  font-family: var(--font-family-text);
  margin: 0;
  font-size: 22px;
}

.playButton {
  font-family: var(--font-family-text);
  padding: 10px;
  text-align: center;
  background-color: var(--accent-text-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 0;
  transition: background-color 0.5s ease;
}

.playButton:hover {
  background-color: rgba(149, 118, 134, 0.6);
}

