.listContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gamesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 20px 20px 0 20px;
  position: relative;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-bottom: 20px;
  font-family: var(--font-family-text);
  font-size: 30px;
  text-transform: uppercase;
}

.paginationButton {
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  padding: 10px 25px;
  text-align: center;
  background-color: var(--accent-text-color);
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  margin: 0;
  transition: background-color 0.5s ease;
}

.paginationButton:hover {
  background-color: rgba(149, 118, 134, 0.6);
}

@media (max-width: 375px) {
  .gamesList {
    padding: 0;
  }
}