
* {
  box-sizing: border-box;
}

:root {
  --font-family-title: "Orbitron", sans-serif;
  --font-family-text: "Iceland", sans-serif;
  --accent-bg-color: #0A1A33;
  --accent-formbg-color: #ffffff00;
  --accent-text-color: #66CC99;
  --accent-boxshadow-color: white;
  --active-link: #104b2d;
}

.light-theme {
  --accent-bg-color: #E0F7FF;
  --accent-text-color: #FF9900;
  --accent-boxshadow-color: black;
  --active-link: #885508;
  --accent-formbg-color: #ffffff00;
}

body {
  background-color: var(--accent-bg-color);
  color: var(--accent-text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  margin: 0;
}

