
* {
  box-sizing: border-box;
}

:root {
  --font-family-title: "Orbitron", sans-serif;
  --font-family-text: "Iceland", sans-serif;
  --accent-bg-color: #121212;
  --accent-formbg-color: rgba(255, 255, 255, 0.1);
  --accent-text-color: #E0E0E0;
  --accent-boxshadow-color: rgba(255, 255, 255, 0.2);
  --active-link: #66CC99;
}

.light-theme {
  --accent-bg-color: #cad5d95e;
  --accent-text-color: #34495e;
  --accent-boxshadow-color: rgba(0, 0, 0, 0.2);
  --active-link: #ff6f61;
  --accent-formbg-color: #fdfdfd;
}

body {
  background-color: var(--accent-bg-color);
  color: var(--accent-text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  margin: 0;
}

